<div class="row-fluid footer" xmlns="http://www.w3.org/1999/html">
        <div class="span4 footer-inline"><img src="{{ STATIC_URL }}img/icon-acgov.png"/>
            &nbsp;<a href="http://acgov.org" target="_blank">acgov.org</a>
        </div>
        <div class="span4 footer-inline"><img src="{{ STATIC_URL }}img/icon-c4a.png"/>
            &nbsp;
            <a href="http://codeforamerica.org" target="_blank">code for america</a>
        </div>
        <div class="span4 footer-inline"><img src="{{ STATIC_URL }}img/icon-claytantor.png"/>&nbsp;
            <a href="https://github.com/claytantor" target="_blank">@claytantor</a>
        </div>
</div>
<div class="row-fluid" style="height: 20px">&nbsp;</div>