<head>
    <meta charset="utf-8">
    <title>510eat.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- the styles -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,900,600' rel='stylesheet' type='text/css'>
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/fiveoneoheat.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/fiveoneoheat-icon.png">
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/mustache.js"></script>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=visualization,geometry"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>

    <script src="{{ STATIC_URL }}js/InspectionSearch.js"></script>
    <script src="{{ STATIC_URL }}js/MarkersMap.js"></script>
    <script src="{{ STATIC_URL }}js/FacilityMap.js"></script>
    <script src="{{ STATIC_URL }}js/fiveoneoheat.js"></script>

</head>
